.footer_wrapper{
    height: 35vh;
    background-color: var(--color-black);
    border: 3px dotted var(--color-purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .opening_time{

        .footer_section_header{
            color: var(--color-gold);
            font-size: 40px;
            margin-bottom: 15px;
            
        }

        .footer_opening_hour{
            margin-bottom: 5px;
            font-size: 20px;
        }

        .footer_last_food_order{
            font-weight: 800;
        }
    }

    .copyright_text {

    }

    .footer_restaurant_details_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .footer_detail_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            cursor: pointer;
            padding-left: 10px;
            padding-right: 10px;

            .footer_detail_icon {
                margin-right: 3px;
                color: var(--color-gold);
            }

            .footer_detail_text {
                font-size: 20px;
                font-weight: 800;
                color: var(--color-white);
                text-transform: none;
            }
        }
    }

    .copyright_text_mobile{
        display: none;
    }

}



@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1150px) {
    .footer_wrapper{
        height: 35vh;
    
        .opening_time{
    
            .footer_section_header{
                font-size: 32px;
                
                
            }
    
            .footer_opening_hour{
                font-size: 14px;
            }
    
            .footer_last_food_order{
                font-weight: 800;
                font-size: 12px;
            }
        }
    
        .copyright_text {
            font-size: 12px;
        }
    
        .footer_restaurant_details_wrapper {
    
            .footer_detail_wrapper {
    
                .footer_detail_icon {
                    margin-right: 3px;
                    color: var(--color-gold);
                    height: 20px;
                    width: 20px
                }
    
                .footer_detail_text {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    
        .copyright_text_mobile{
            display: none;
        }
    
    }
}

@media screen and (max-width: 850px) {
    .footer_wrapper{
        height: 35vh;
    
        .opening_time{
    
            .footer_section_header{
                font-size: 30px;
                
                
            }
    
            .footer_opening_hour{
                font-size: 12px;
            }
    
            .footer_last_food_order{
                font-weight: 800;
                font-size: 10px;
            }
        }
    
        .copyright_text {
            font-size: 10px;
        }
    
        .footer_restaurant_details_wrapper {
    
            .footer_detail_wrapper {
    
                .footer_detail_icon {
                    margin-right: 3px;
                    color: var(--color-gold);
                    height: 20px;
                    width: 20px
                }
    
                .footer_detail_text {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    
        .copyright_text_mobile{
            display: none;
        }
    
    }
}

@media screen and (max-width: 650px) {
    .footer_wrapper{
        height: 50vh;
        flex-direction: column;    
    
        .opening_time{
            width: 96%;

            .footer_section_header{
                font-size: 30px;                
            }
    
            .footer_opening_hour{
                font-size: 14px;
            }
    
            .footer_last_food_order{
                font-weight: 800;
            }
        }
    
        .copyright_text {
            display: none;
        }
    
        .footer_restaurant_details_wrapper {
            width: 100%;
            .footer_detail_wrapper {
    
                .footer_detail_icon {
                    width: 20px;
                    height: 20px;
                }
    
                .footer_detail_text {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    
        .copyright_text_mobile{
            display: block;
        }
    
    }
}

@media screen and (max-width: 450px) {
    .footer_wrapper{
        height: 50vh;
        flex-direction: column;    
    
        .opening_time{
            width: 96%;

            .footer_section_header{
                font-size: 30px;                
            }
    
            .footer_opening_hour{
                font-size: 14px;
            }
    
            .footer_last_food_order{
                font-weight: 800;
            }
        }
    
        .copyright_text {
            display: none;
        }
    
        .footer_restaurant_details_wrapper {
            width: 100%;
            .footer_detail_wrapper {
    
                .footer_detail_icon {
                    width: 20px;
                    height: 20px;
                }
    
                .footer_detail_text {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    
        .copyright_text_mobile{
            display: block;
        }
    
    }
}

@media screen and (max-width: 360px) {
    .footer_wrapper{
        height: 50vh;
        flex-direction: column;    
    
        .opening_time{
            width: 96%;

            .footer_section_header{
                font-size: 30px;                
            }
    
            .footer_opening_hour{
                font-size: 14px;
            }
    
            .footer_last_food_order{
                font-weight: 800;
            }
        }
    
        .copyright_text {
            display: none;
        }
    
        .footer_restaurant_details_wrapper {
            width: 100%;
            .footer_detail_wrapper {
    
                .footer_detail_icon {
                    width: 20px;
                    height: 20px;
                }
    
                .footer_detail_text {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    
        .copyright_text_mobile{
            display: block;
        }
    
    }
    
}