.forgot_password_wrapper{
    flex-direction: column;
    background-color: var(--color-grey);
    width: 30%;
    

    .forgot_password_header{
        width: 100%;
        padding: 0em 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-purple);

        .forgot_password_header_title{
            font-size: 30px;
        }

        .forgot_password_header_close{
            font-size: 20px;

            &:hover{
                color:red;
                cursor: pointer;
            }
        }
    }

    .forgot_password_form{
        width: 90%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        .forgot_password_form_forgotpassword{
            margin-top: -10px;
            font-size: 12px;

            &:hover{
                cursor: pointer;
                color: var(--color-purple);
            }
        }

        .forgot_password_form_button{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    } 

}


@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1150px) {
    .forgot_password_wrapper{
        width: 45%;
    
        .forgot_password_header{

            .forgot_password_header_title{
                font-size: 25px;
            }
    
            .forgot_password_header_close{
                font-size: 18px;
            }
        }
    
        .forgot_password_form{
            width: 90%;
    
            .forgot_password_form_forgotpassword{
                font-size: 10px;
            }
    
            .forgot_password_form_button{
                margin-top: 15px;
            }
        } 
    
    } 
}

@media screen and (max-width: 850px) {
    .forgot_password_wrapper{
        width: 45%;
    
        .forgot_password_header{

            .forgot_password_header_title{
                font-size: 25px;
            }
    
            .forgot_password_header_close{
                font-size: 18px;
            }
        }
    
        .forgot_password_form{
            width: 90%;
    
            .forgot_password_form_forgotpassword{
                font-size: 10px;
            }
    
            .forgot_password_form_button{
                margin-top: 15px;
            }
        } 
    
    } 
}

@media screen and (max-width: 650px) {
    .forgot_password_wrapper{
        width: 65%;
    
        .forgot_password_header{

            .forgot_password_header_title{
                font-size: 25px;
            }
    
            .forgot_password_header_close{
                font-size: 18px;
            }
        }
    
        .forgot_password_form{
            width: 90%;
    
            .forgot_password_form_forgotpassword{
                font-size: 10px;
            }
    
            .forgot_password_form_button{
                margin-top: 15px;
            }
        } 
    
    } 
}

@media screen and (max-width: 450px) {
    .forgot_password_wrapper{
        width: 85%;
    
        .forgot_password_header{

            .forgot_password_header_title{
                font-size: 25px;
            }
    
            .forgot_password_header_close{
                font-size: 18px;
            }
        }
    
        .forgot_password_form{
            width: 90%;
    
            .forgot_password_form_forgotpassword{
                font-size: 10px;
            }
    
            .forgot_password_form_button{
                margin-top: 15px;
            }
        } 
    
    } 
}

@media screen and (max-width: 360px) {
    .forgot_password_wrapper{
        width: 85%;
    
        .forgot_password_header{

            .forgot_password_header_title{
                font-size: 25px;
            }
    
            .forgot_password_header_close{
                font-size: 18px;
            }
        }
    
        .forgot_password_form{
            width: 90%;
    
            .forgot_password_form_forgotpassword{
                font-size: 10px;
            }
    
            .forgot_password_form_button{
                margin-top: 15px;
            }
        } 
    
    }
}