@import "./app";
@import "../components/Navbar/navbar";
@import "../pages/HomePage/homePage";
@import "../pages/BookingPage/bookingPage";
@import "../components/FormInput/formInput";
@import "../components/Dropdown/dropdown";
@import "../components/TextArea/textarea";
@import "../components/FormInputDate/formInputDate";
@import "../components/Login/login";
@import "../components/Register/register";
@import "../pages/ContactPage/contactPage";
@import "../components/ForgotPassword/forgotPassword";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-base: "Playfair Display", serif;
    --font-alt: "Inter", sans-serif;
    --font-special: "Almendra", serif;

    --color-gold: #FFD700;
    --color-black: #000000;
    --color-purple: #4B0082;
    --color-grey: #AAAAAA;
    --color-white: #FBFBFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}