.cart_item_wrapper {
    width: 320px;
    background-color: var(--color-white);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productImage {
        width: 96%;
        height: 200px;
        margin-bottom: 15px;
        margin-top: 10px;
        object-fit: cover;
    }

    .name_and_price_wrapper {
        width: 96%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: space-between;

        .cart_item_name {
            color: var(--color-purple);
            font-size: large;
        }

        .cart_item_price {
            color: var(--color-black);
            font-size: medium;
            font-weight: 700;
        }
    }

    .cart_item_description {
        width: 96%;
        margin-bottom: 15px;
        font-size: small;
        color: var(--color-black);

    }

    .cart_item_buttons_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 96%;
        margin-bottom: 10px;
        margin-top: auto;

        .cart_item_quantity_buttons_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            .cart_item_decrement_btn {
                width: fit-content;
                height: fit-content;
                padding: 0.5rem 1.2rem;
                border-radius: 100%;
            }

            .cart_item_quantity {
                font-size: 12px;
                font-weight: 600;
                color: var(--color-black);
            }

            .cart_item_increment_button {
                width: fit-content;
                height: fit-content;
                padding: 0.5rem 1.2rem;
                border-radius: 100%;
            }

        }

        .cart_item_remove_btn {
            font-size: small;
            border-radius: 5px;

            &:hover {
                background-color: red;
            }
        }
    }
}

@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1150px) {
    .cart_item_wrapper {
        width: 90%;

        .cart_item_buttons_wrapper {

            .cart_item_remove_btn {
                font-size: medium;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .cart_item_wrapper {
        width: 90%;

        .cart_item_buttons_wrapper {

            .cart_item_remove_btn {
                font-size: medium;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .cart_item_wrapper {
        width: 90%;

        .cart_item_buttons_wrapper {

            .cart_item_remove_btn {
                font-size: medium;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .cart_item_wrapper {
        width: 90%;

        .cart_item_buttons_wrapper {

            .cart_item_quantity_buttons_wrapper {
                width: 50%;

            }

            .cart_item_remove_btn {
                font-size: small;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .cart_item_wrapper {
        width: 90%;

        .cart_item_buttons_wrapper {

            .cart_item_quantity_buttons_wrapper {
                width: 50%;

            }

            .cart_item_remove_btn {
                font-size: small;
            }
        }
    }
}