.formInputDate_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .formInputDate_label {
        margin-bottom: 10px;
    }

    .formInputDate {
        width: 100%;
        height: 40px;
        font-size: medium;
        border: none;
        border-radius: 5px;

        &:focus {
            margin: 1px solid var(--color-purple);
        }
    }

    .formInputDate::-webkit-calendar-picker-indicator{
        background-color: var(--color-gold);
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

}

@media screen and (min-width: 2000px) {}

@media screen and (max-width: 1150px) {}

@media screen and (max-width: 850px) {
    .formInputDate_wrapper {
    
        .formInputDate {
            font-size: medium;
        }
    
    }
}

@media screen and (max-width: 650px) {
    .formInputDate_wrapper {
    
        .formInputDate {
            font-size: medium;
        }
    
    }
}

@media screen and (max-width: 450px) {
    .formInputDate_wrapper {
    
        .formInputDate {
            font-size: small;
        }
    
    }
}

@media screen and (max-width: 360px) {
    .formInputDate_wrapper {
    
        .formInputDate {
            font-size: small;
        }
    
    }
    
}